.btnEvent {
  background-color: #f97c00;
  color: #fff;
  margin-top: 5%;
  margin-left: 8%;
  height: 2.5em;
  border-radius: 4px;
  width: 16.5em;
}

.titleEvent {
  padding-top: 4em;
  margin-left: 8%;
}

.InputEvent1 {
 display: block;
 margin-top: 5%;
 margin-left: 25.5% !important ;
 height: 2em;
 border-radius: 4px;
 width: 16em;
 
}

.InputEvent2 {
  display: block;
  margin-top: 5%;
  margin-left: 25.5% !important ;
  height: 2em;
  border-radius: 4px;
  width: 16em;

}

.circulo {
  border-radius: 6px;
  background-color: #f97c00;
  height: 1em;
  width: 2em;
  display: inline-block;
  margin-left: 18px;
  margin-top: 4%;
}

.circuloGris {
  border-radius: 6px;
  background-color: #5f5b5c;
  height: 1em;
  width: 2em;
  display:inline-block;
  margin-left: 12px;
  margin-top: 4%;
}

 