*{
	margin: 0;
	padding: 0;
}


.circulo {
  border-radius: 6px;
  background-color: #f97c00;
  height: 1em;
  width: 2em;
  display: inline-block;
  margin-left: 18px;
  margin-top: 4%;
}

.circuloGris {
  border-radius: 6px;
  background-color: #5f5b5c;
  height: 1em;
  width: 2em;
  display:inline-block;
  margin-left: 12px;
  margin-top: 4%;
}
.btnSelectFriend {
  background-color: #f97c00;
  color: #fff;
  margin-top: 9%;
  margin-left: 8%;
  height: 2.5em;
  border-radius: 4px;
  width: 16.5em;
}
.box{
	padding-top: 1.5em;
}

.amountAvailable{
  font-size: 0.70em;
  position: relative;
  left: 8.5em;
  bottom: 3em;
}
.containerPayFriends{
  position: relative;
  bottom: 4em;
}
.colorCheckbox1{
  margin-top: 3em;
}