*{
	margin: 0;
	padding: 0;
}


.circulo {
  border-radius: 6px;
  background-color: #f97c00;
  height: 1em;
  width: 2em;
  display: inline-block;
  margin-left: 18px;
  margin-top: 4%;
}

.circuloGris {
  border-radius: 6px;
  background-color: #5f5b5c;
  height: 1em;
  width: 2em;
  display:inline-block;
  margin-left: 12px;
  margin-top: 4%;
}
.btnSelectFriend {
  background-color: #f97c00;
  color: #fff;
  margin-top: 15%;
  margin-left: 8%;
  height: 2.5em;
  border-radius: 4px;
  width: 16.5em;
}
.btnSelectFriend2{
  background-color: #f97c00;
  color: #fff;
  margin-top: 25%;
  margin-left: 8%;
  height: 2.5em;
  border-radius: 4px;
  width: 16.5em;
}
.boxCommerce{
	margin-top: 2em;
  margin-left: 3em;
}
.boxCommerce label{
  margin-left: 0.5em;
}
.boxCommerce1 label{
  position: relative;
  right: 1.3em;
}
.amountAvailable{
  font-size: 0.70em;
  position: relative;
  left: 8.5em;
  bottom: 3em;
}
.containerPayFriends{
  position: relative;
  bottom: 4em;
}
.colorCheckbox1{
  margin-top: 3em;
}
.colorCheckbox label{
   position: relative;
  left: 0.9em;
}

.boxFriends, .boxFriends2{
  margin-top: 2em;
  margin-left: 2em;
}
.boxFriends2 label{
  position: relative;
  left: 0.7em;
}
.containerConfirm{
  position: relative;
  left: 0.1em;
}
.accountConfirm, .accountConfirm2{
  font-size: 0.8em;
}
.since{
  margin-top: 2em;
}
.until{
  margin-top: 3em;
}

.textPay{
  margin-top: 2em;
}
.textPayDetail{
  margin-top: 2em;
  font-size: 2em;
}
.textPayDate{
  margin-top: 2em;
  font-size: 0.7em;
}
.exito{
  margin-top: 4em;
}