.contactos{
  outline: 1px solid #5f5b5c;
  width: 60%;
  text-align: left;
  margin-left: 20%;
  margin-bottom: 0.5em;
}
.cont-search{
  width: 60%;
  text-align: left;
  margin-left: 20%;
  margin-bottom: 0.5em;
}
.title-cont{
  color: #5f5b5c;
  margin-top: 1em;
  margin-bottom: 1em;
}
.btn-cont{
  background-color: #f97c00;
  border: none;
  color: white;
  padding: 1em;
  border-radius: 0.2em;
  /* position: fixed;
  bottom: 1em; */
  font-size: 1em;
  align-content: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

input[type]{
  margin-top: 1em;
  border-radius: 0.2em;
  padding: 1em;
}

.ImgB {
  width: 8%;
  margin-left: 11em;
  margin-top: -3em;
}
.contactInfo {
  padding-top: 2em;
}

.btnA {
  background-color: #f97c00;
  color: #fff;
  border-radius: 0.1em;
  height: 2em;
  width: 10em;
  border: none;
}

.btnB {
  background-color: #5f5b5c;
  color: #fff;
  border-radius: 0.1em;
  height: 2em;
  width: 10em;
  border: none;
  margin-top: 1em;
}

.nav-contacts {
  margin-top: 2em;
}
label {
  margin-left: 1em;
 }